@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100%;
}

.chat-scroll::-webkit-scrollbar {
  width: 8px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 8px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: #545454;
}
